.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 16px;
  gap: 18px;
  max-width: 510px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
}


@media screen and (max-width: 890px) {

  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    display: inline;
    max-width: 200px;
  }
}
